.container {padding-left:0;padding-right:5px;}
.row {margin-left:0;margin-right:-5px;}
.row > div {padding-left:0;padding-right:5px;}

.scrollable {
  overflow-y: auto;
}

.height-tall {
  height: 710px;
}

.table-condensed > tbody > tr > td {
  padding: 2px;
  font-size: 13px;
}

.aid-title {
  text-align: center;
  font-weight: bold;
  background-color: #eee;
  padding: 5px;
  margin-bottom: 5px;
}

.position-title {
  text-align: center;
  font-weight: bold;
  margin-bottom: 5px;
}
