<!-- Buttons && Search -->
<div class="row">
  <div class="col-md-1">
    <button class="btn btn-danger" ng-click="resetAll()">Reset</button>
  </div>
  <div class="col-md-11 form-group">
    <input type="text" class="form-control" placeholder="Search" ng-model="search.name">
  </div>
</div>

<!-- Table -->
<div class="row">
  <div class="scrollable height-300 col-md-12">
    <table class='table table-condensed table-hover table-striped'>
      <thead>
        <tr>
          <th></th>
          <th>Rank</th>
          <th>Tier</th>
          <th>Name</th>
          <th>Pos</th>
          <th>Team</th>
          <th>Bye</th>
          <th>Best</th>
          <th>Worse</th>
          <th>Average</th>
          <th>ADP</th>
          <th>Risk</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-class="{drafted: player.drafted}"
            ng-repeat="player in rankings | orderBy:['tier', 'rank'] | filter:search:strict">
          <td>
            <button ng-click='draft(player)'
                    ng-hide='player.drafted'
                    class='btn btn-xs btn-success'>Draft</button>
            <button ng-click='undraft(player)'
                    ng-show='isLastDrafted(player)'
                    class='btn btn-xs btn-info'>Undo</button>
          </td>
          <td>{{player.rank}}</td>
          <td>{{player.tier}}</td>
          <td>{{player.name}}</td>
          <td>{{player.position}}</td>
          <td>{{player.team}}</td>
          <td>{{player.bye}}</td>
          <td>{{player.best}}</td>
          <td>{{player.worst}}</td>
          <td>{{player.average}}</td>
          <td>{{player.adp}}</td>
          <td>{{player.stdDev}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
