<div class="aid-title">
  <i class="fa fa-sort-amount-asc"></i> Overall Rankings
</div>

<div class="row form-group">
  <div class="form-group col-md-5">
    <select ng-model="format"
            ng-change="loadRankings(format)"
            name="format"
            required
            ng-options="f.value as f.label for f in formats"></select>
  </div>

  <div class="col-md-7 pull-right">
    <input type="text" class="form-control" placeholder="Search" ng-model="search">
  </div>
</div>

<div class="scrollable height-tall">
  <h4 ng-if="loading"><i class="fa fa-spinner fa-spin"></i> Loading Data...</h4>
  <table ng-if="!loading" class="table table-condensed table-hover">
    <tr ng-if='!player.drafted'
        data-toggle="tooltip"
        title="{{player.name}}, tier: {{player.tier}}, adp: {{player.adp}}, bye: {{player.bye}}"
        ng-class="{active: player.tier % 5 === 0,
                   success: player.tier % 5 === 1,
                   warning: player.tier % 5 === 2,
                   info: player.tier % 5 === 3,
                   danger: player.tier % 5 === 4}"
        ng-repeat="player in rankings | orderBy:['tier', 'rank'] | filter:search"
        ng-click='draft(player)'>
      <td>Tier {{player.tier}}</td>
      <td>{{player.position}}</td>
      <td>{{player.name}}</a></td>
      <td>{{player.team}}</td>
      <td>{{player.bye}}</td>
    </tr>
  </table>
</div>