<div class="aid-title">
  <span class="glyphicon glyphicon-sort-by-attributes"></span> Overall Rankings
</div>

<div class="row form-group">
  <div class="col-md-11">
    <input type="text" class="form-control" placeholder="Search" ng-model="search">
  </div>
</div>

<div class="scrollable height-tall">
  <table class="table table-condensed table-hover table-striped">
    <tr ng-if='!player.drafted'
        ng-repeat="player in rankings | orderBy:['tier', 'rank'] | filter:search">
      <td>Tier {{player.tier}}</td>
      <td>{{player.position}}</td>
      <td><a href='' ng-click='draft(player)'>{{player.name}}</a></td>
      <td>{{player.team}}</td>
      <td>{{player.bye}}</td>
    </tr>
  </table>
</div>
