<div class="aid-title">
  <i class="fa fa-signal"></i> Top Picks By Position
</div>

<div class="col-sm-6" ng-repeat="position in positions">
  <span class="col-sm-12 position-title">{{positionText(position)}}</span>
  <table ng-show="!loading" class="table table-condensed table-hover table-striped">
    <tr ng-if='!player.drafted'
        data-toggle="tooltip"
        title="{{player.name}}, rank: {{player.rank}}, tier: {{player.tier}}, adp: {{player.average_draft_position}}, bye: {{player.bye_week}}"
        ng-class="{active: player.tier % 4 === 0,
                   success: player.tier % 4 === 1,
                   warning: player.tier % 4 === 2,
                   info: player.tier % 4 === 3,
                   danger: player.tier % 1 !== 0 }"
        ng-repeat="player in rankings | orderBy:'rank' | filter:positionFilter(position) | limitTo: 15"
        ng-click='draft(player)'>
      <td>Tier {{player.tier}}</td>
      <td>{{player.name}}</a></td>
      <td>{{player.team}}</td>
      <td>{{player.bye_week}}</td>
    </tr>
  </table>
</div>
