<div id="main" class="container clear-top">
  <div class="row">
    <h4>Credits</h4>
    <ul>
      <li>Player data come from <a href="http://www.fantasypros.com/" target="_blank">fantasypros.com</a>.</li>
      <li>Tier data are from <a href="http://www.borischen.co/" target="_blank">borischen.co</a>.</li>
    </ul>
    <hr />

    <h4>Future Features</h4>
    <ul>
      <li>Support PPR and .5 PPR. <span class="glyphicon glyphicon-ok"></span></li>
      <li>Local Storage for persisting draft history. <span class="glyphicon glyphicon-ok"></span></li>
      <li>Backend API.</li>
      <li>Colorful tiers.</li>
      <li>Show all stats when hover over.</li>
      <li>Better draft grades.</li>
      <li>Calculate risk factor.</li>
      <li>Add user login.</li>
      <li>Allow private/custom rankings.</li>
    </ul>

    <hr />

    <h4>Geeky Stuff</h4>
    <ul>
      <li>AngularJS</li>
      <li>Twitter Bootstrap</li>
      <li><a href="https://github.com/jayjzheng/ff_rankings" target="_blank">Source Code</a></li>
    </ul>

    <hr />

    All suggestions are welcome. You can email me at jay --at-- jayzheng --dot-- com.
  </div>
</div>