<div id="main" class="container-fluid clear-top">
  <div class="alert alert-warning alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong>Note:</strong> Currently only have rankings from FantasyPros. Hopefully Boris Chen will have his tiering data up soon.
  </div>

  <div class="row">
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-5">
          <ng-include src="'templates/partials/overall-rankings.html'" />
        </div>

        <div class="col-md-7">
          <ng-include src="'templates/partials/position-rankings.html'" />
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <ng-include src="'templates/partials/draft-history.html'" />
    </div>
  </div>

</div>
