<div id="main" class="container clear-top">

  <div class="row">
    <div class="form-group col-md-7">
      <select ng-model="format"
              ng-change="loadRankings(format)"
              name="format"
              required
              ng-options="f.value as f.label for f in formats"></select>
    </div>

    <div class="form-group pull-right col-md-5">
      <input type="text" class="form-control" placeholder="Search" ng-model="search">
    </div>
  </div>

  <div class="row scrollable height-tall">
    <h3 ng-if="loading"><i class="fa fa-spinner fa-spin"></i> Loading Data...</h3>
    <table ng-if="!loading" class="players table table-condensed table-striped table-hover" >
      <thead>
        <th><a href='' ng-click="predicate = 'rank'; reverse = !reverse">Rank</a></th>
        <th><a href='' ng-click="predicate = 'tier'; reverse = !reverse">Tier</a></th>
        <th><a href='' ng-click="predicate = 'name'; reverse = !reverse">Name</a></th>
        <th><a href='' ng-click="predicate = 'position'; reverse = !reverse">Position</a></th>
        <th><a href='' ng-click="predicate = 'team'; reverse = !reverse">Team</a></th>
        <th><a href='' ng-click="predicate = 'bye_week'; reverse = !reverse">Bye</a></th>
        <th><a href='' ng-click="predicate = 'best'; reverse = !reverse">Best</a></th>
        <th><a href='' ng-click="predicate = 'worst'; reverse = !reverse">Worst</a></th>
        <th><a href='' ng-click="predicate = 'average'; reverse = !reverse">Average</a></th>
        <th><a href='' ng-click="predicate = 'std_dev'; reverse = !reverse">Std Dev</a></th>
        <th><a href='' ng-click="predicate = 'average_draft_position'; reverse = !reverse">ADP</a></th>
      </thead>
      <tbody>
      <tr ng-repeat="player in rankings | orderBy:predicate:reverse | filter:search ">
          <td>{{player.rank}}</td>
          <td>{{player.tier}}</td>
          <td>{{player.name}}</td>
          <td>{{player.position}}</td>
          <td>{{player.team}}</td>
          <td>{{player.bye_week}}</td>
          <td>{{player.best_rank}}</td>
          <td>{{player.worst_rank}}</td>
          <td>{{player.average_rank | number: 2}}</td>
          <td>{{player.std_dev | number: 2}}</td>
          <td>{{player.average_draft_position || 'NA'}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
